.header{
    height: 11.5vh;
    width: 100vw;
    position: absolute;
    background-color: #793500;

}
.list{
    padding: 0;
    margin: 0 8vw 0 0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: flex-end;
    font-family: 'lora';
}
.header li{
    font-size: 1.23em;
    padding: 3.5vh 2vw 0 0;
  }
.header li a{
    text-decoration: none;
    color: #FFF9F9;
    font-weight: bold;
  }
#returnHome{
    height: 10vh;
    position: absolute;
}
#nameMain{
    height: 13vh;
    width: 22vw;
    position: absolute;
    left: 5.5vw;
    top: 1vh;
}
#agregar{
    height: 5vh;
    position: absolute;
    right: 33vw;
}
#opcion_agregar{
    font-size: 0.85em;
    width: 10vw;
    border-left: solid #FFF9F9; 
    padding-left: 5vw;
}
#pedidos{
    border-left: solid #FFF9F9; 
    padding-left: 5vw;
}
#start{
    height: 7vh;
    position: absolute;
    right: 47.5vw;
    top: 2.3vh;
}
#perfil{
    position: absolute;
    height: 7.5vh;
    width:3.8vw;
    background:url("src/assets/images/perfil_mesero.png");
    background-size: 103% 103%;
    background-repeat: no-repeat;
    right: 2vw;
    border-radius: 1020px;
    top: 2.3vh;
}