.header{
    height: 11.5vh;
    width: 100vw;
    position: absolute;
    background-color: #793500;
}
.list{
    padding: 0;
    margin: 0 8vw 0 0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: flex-end;
    font-family: 'lora';
}
.header li{
    font-size: 1.23em;
    padding: 3.5vh 2vw 0 0;
  }
.header li a{
    text-decoration: none;
    color: #FFF9F9;
    font-weight: bold;
  }
#returnHome{
    height: 10vh;
    position: absolute;
}
#nameMain{
    height: 13vh;
    width: 22vw;
    position: absolute;
    left: 5.5vw;
    top: 1vh;
}
#agregar{
    height: 5vh;
    position: absolute;
    right: 33vw;
}
#opcion_agregar{
    font-size: 0.85em;
    width: 10vw;
    border-left: solid #FFF9F9; 
    padding-left: 5vw;
}
#pedidos{
    border-left: solid #FFF9F9; 
    padding-left: 5vw;
}
#start{
    height: 7vh;
    position: absolute;
    right: 47.5vw;
    top: 2.3vh;
}
#perfil{
    position: absolute;
    height: 7.5vh;
    width:3.8vw;
    background:url("src/assets/images/perfil_mesero.png");
    background-size: 103% 103%;
    background-repeat: no-repeat;
    right: 2vw;
    border-radius: 1020px;
    top: 2.3vh;
    cursor: pointer;
}
#btn_tomarOrden{
    border: none;
    background: #793500;
    color: #FFF9F9;
    font-family: 'lora';
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    padding: 2vh 2vw 2vh 2vw;
    margin-top: -2vh;
    margin-right: -2vw;
} 
#btn_tomarOrden:hover{
    background: #4e2200;
    height: 5vh;
    padding: 2vh 1.5vw 8vh 1.5vw;
}
.contenedor{
    width: 100vw;
    height: 128vh;
    background-image:url("src/assets/images/fondo-inf.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 12vh;
    position: absolute;
    display: flex;
}
#titleIntro{
    margin-top: 19vh;
    margin-left: 35vw;
    color: #793500;
    font-size: 3em;
    font-family:'Parisienne', cursive;
    position: absolute;
    font-weight: bold;
}
#imageInit{
    margin-top: 23vh;
    height: 45vh;
    margin-left: 22vw;
    position: absolute;
}
#imageName{
    width: 22vw;
    height: 18vh;
    margin-top:42vh;
    position: absolute;
    margin-left: 45vw;
}
.cambio_perfil{
    width: 100vw;
    height: 140vh;
    z-index: 8;
    background: rgba(63, 63, 63, 0.527);
    position: absolute;
    justify-content: center;
}
#cambio{
    width: 30vw;
    height: 30vh;
    left: 35vw;
    margin-top: 37vh;
    position: absolute;
    text-decoration: none;
    background-color: #FEF4ED ;
    text-align: center;
    color: #793500;
    top:0;
    font-family: 'lora';
    font-weight: bold;
    padding: 1em;
    border-radius: 15px;
    font-size: 1.2em;
}
#title_close{
    top:8vh;
    position: absolute;
    left: 2.5vw;
}
#btn_envio_home{
    background-color: #793500;
    color: #FFF9F9;
    height: 8vh;
    width: 11.5vw;
    position: absolute;
    left: 2.5vw;
    bottom: 4vh;
    font-family: 'lora';
    font-size: 0.9em;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
}

#btn_close{
    background-color: #793500;
    color: #FFF9F9;
    height: 8vh;
    width: 11.5vw;
    position: absolute;
    font-size: 0.9em;
    right: 2.5vw;
    bottom: 4vh;
    font-family: 'lora';
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
}
#cerrar{
    height: 3vh;
    position: absolute;
    cursor: pointer;
    position: absolute;
    top:2vh;
    right: 1vw;
}