<header class="header">
      <a [routerLink]= "['/waiter']"><img id="returnHome" src="assets/images/header-icon.png"><img id="nameMain" src="assets/images/name.png"></a>
      <ul class="list">
          <li><a [routerLink]= "['/waiter/tomar-pedido']">Tomar Pedido</a></li>
          <li><a href="" id="pedidos">Mis pedidos<img id="start" src="assets/images/start.png"></a></li>
          <li><a href="" id="opcion_agregar">Agregar productos adicionales a cuenta<img id="agregar" src="assets/images/agregar-btn.png"></a></li>
      </ul>
      <a [routerLink]= "['/home']"><img id="perfil"></a>
</header>

<section class="contenedor" >
<ng-container *ngTemplateOutlet="show"></ng-container>
</section>

<ng-template #show>
    <p id="titleIntro">Bienvenido colaborador</p>
    <img src="assets/images/init.png" id="imageInit" >
    <img src="assets/images/initName.png" id="imageName">
</ng-template>