<div class="table_lunch" *ngIf="acompanamientoOp2">
    <img class="image_sand" src="assets/images/aros.jpg" >
        <p class="nombre_producto">Aros de Cebolla</p>
        <p class="descripcion_producto">Deliciosas y variadas opciones para acompañar tus platos favoritos.</p>
        <p class="precio_producto_lunch">Precio $ 5</p>
 </div>
            <form action="">
                <p id="opcional">*Agregar tamaño porcion</p>
             <input id="simple" type="radio" name="op"><label id="simple_name" for="simple">Pequeña</label> 
             <input id="doble" type="radio" name="op"><label for="doble" id="doble_name">Grande</label>
            </form> 
                  <app-contador></app-contador> 
                  
         <button class="add_product_lunch">Agregar Producto</button>
