<div class="table_lunch" *ngIf="burguerOp1">
    <img class="image_sand" src="assets/images/vege1.jpg" >
        <p class="nombre_producto">Hamburguesa Vegetariana Sencilla Queen 182</p>
        <p class="descripcion_producto">Deliciosas y variadas opciones Vegetarianas, Hamburguesa de faladel o lentejas con tahine, remolacha, lechuga batavia, queso paipa, arroz y yerbabuena.</p>
        <p class="precio_producto_lunch">Precio $ 10</p>
        <a (click)="burguerOp2=!burguerOp2"><img class="flecha" src="assets/images/flecha_bl_up.png" alt=""></a>
 </div>
<form action="">
<input id="simple" type="radio" name="op"><label id="simple_name" for="simple">Sencilla</label> 
<input id="doble" type="radio" name="op"><label for="doble" id="doble_name">Doble</label>
</form> 
              <app-contador></app-contador>        
     <p id="opcional">Opcional por $ 1 adicional pueden agregar</p>
     <form action="">
     <input id="chessee" type="checkbox" name="op2"><label for="chessee" id="chess_name">Queso  _ o </label>
     <input id="egg" type="checkbox" name="op2"><label for="egg" id="egg_name">Huevo</label>
    </form>
     <button class="add_product_lunch">Agregar Producto</button>


     
     <div class="table_lunch2" *ngIf="burguerOp2">
        <img class="image_sand" src="assets/images/vege3.jpg" >
            <p class="nombre_producto">Hamburguesa Vegetariana Doble Queen 182</p>
            <p class="descripcion_producto">Hamburguesa de faladel o lentejas con tahine, lechuga batavia, portoblello a la parrilla relleno de una mezcla de queso azul, emmental, yerbabuena y queso doble crema.</p>
            <p class="precio_producto_lunch">Precio $ 15</p>
            <a (click)="burguerOp2=!burguerOp2"><img class="flecha_op2" src="assets/images/flecha_bl_up.png" alt=""></a>
     </div>
