<section class="resume_order">
    
        <p id="title_resume">Resumen pedido</p>

        <div class="atributte">
            <p id="item1">Producto</p>
            <p id="item">Cantidad</p>
            <p id="item">Valor unitario</p>
            <p id="item">Subtotal</p>
        </div>

    <div id="items_order">
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>
                     <app-item-order></app-item-order>

    </div>   

</section>
