<section class="products">
    <button id="btn_desayuno">Desayuno</button>
    <button id="btn_almuerzo">Almuerzo y cena</button>
        <div id="main_breakfast">
            <p class="titleSandwichs">Sandwichs</p>
               <button id="producto1">Sandwichs de jamon y queso</button>
            <p class="titleSandwichs">Extras</p>
                 <button id="extras">Extras</button>
            <p class="titleBebidas">Bebidas</p>
               <button class="productBebidas">Cafe americano</button>
               <button class="productBebidas">Cafe con leche</button>
               <button class="productBebidas">Jugo de naranja</button>
        </div>
        <div id="main_lunch">


        </div>

</section>
