<section class="products">
        <div id="main_breakfast">
            <p class="titleSandwichs">Sandwichs</p>
               <button id="producto1">Sandwichs de jamon y queso</button>
            <p class="titleSandwichs">Extras</p>
                 <button id="extras">Extras</button>
            <p class="titleBebidas">Bebidas</p>
               <button class="productBebidas">Cafe americano</button>
               <button class="productBebidas">Cafe con leche</button>
               <button class="productBebidas">Jugo de naranja</button>
        </div>
        <div id="main_lunch">
            <p class="titleBurguer">Hamburguesas</p>
                <button class="burguer">Hamburguesa de Res</button>
                <button class="burguer">Hamburguesa de pollo</button>
                <button class="burguer">Hamburguesa vegetariana</button>
            <p class="titleAcompañamientos">Acompañamientos</p>
                <button class="burguer">Papas fritas</button>
                <button class="burguer">Aros de cebolla</button>
            <p class="titleAcompañamientos">Bebidas</p>
                <button class="burguer">Agua 500ml</button>
                <button class="burguer">Agua 750ml</button>
                <button class="burguer">Gaseosa 500ml</button>
                <button class="burguer">Gaseosa 750ml</button>
        </div>

</section>
