.tomarPedidos{
    width: 100vw;
    height: 128vh;
    background-image:url("src/assets/images/fondo-inf.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 12vh;
    position: absolute;
    background-color: #FFF9F9;
}
.contenedorPedidos{
    width: 100vw;
    height: 128vh;
    margin-top: 0.5vh;
    position: absolute;
    display: flex;
    font-family: 'lora';
}
.order{
    width: 48.5vw;
    height: 125vh;
    position: absolute;
    border: 1.5px solid #793500;
    top: 1vh;
    left: 0.5vw;
    opacity: 1;
    display: flex;
}
#titleOrder{
    width: 48.5vw;
    height: 8.3vh;
    text-align: center;
    background: url("src/assets/images/fn_red.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:#FFF9F9;
    padding-top: 1.7vh;
    font-size: 1.25em;
    margin-top:-0.1vh;
}
.main{
    width: 48.5vw;
    height: 125vh;
    position: absolute;
    border: 1px solid #793500;
    top: 1vh;
    right: 1.5vw;
}
#titleMain{
    width: 48.5vw;
    height: 8vh;
    text-align: center;
    background: url("src/assets/images/fn_main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    color:#FFF9F9;
    padding-top: 1.5vh;
    font-size: 1.25em;
}
#textMain{
    margin-top: 25vh;
    margin-left:17vw;
    color: #793500;
    font-size: 2em;
    font-family:'Parisienne', cursive;
    position: absolute;
    font-weight: bold;
    z-index: 3;
}
#imageMain{
    margin-top: 31vh;
    height: 27vh;
    margin-left: 18vw;
    position: absolute;
    z-index: 3;
}
#nameMain{
    width: 18vw;
    height: 13vh;
    margin-top:62vh;
    position: absolute;
    margin-left: 17.5vw;
    z-index: 3;
}
#name1{
    position: absolute;
    left: 1vw;
    top: 10.5vh;
    text-align: center;
    color: #3F1B00;
    font-weight: bold;
    font-size: 1.1em;
}
#name_user{
    position: absolute;
    left: 13vw;
    width: 28vw;
    height: 4vh;
    top: 10.5vh;
    border: #793500 1.5px solid;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    border-radius: 20px;
    background-color: #d1a07a33;
    font-family: 'lora';
    outline: none;
    padding-left: 1vw;
}
#num1{
    position: absolute;
    left: 9vw;
    top: 17.5vh;
    color: #3F1B00;
    font-weight: bold;
    font-size: 1.1em;
}
#num_mesa{
    position: absolute;
    left: 13vw;
    height: 4vh;
    top: 17.5vh;
    border: #793500 1.5px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    background-color: #d1a07a33;
    font-family: 'lora';
    outline: none;
    padding-left: 1vw;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

#datos_cliente{
    position: absolute;
    height: 6vh;
    width: 13vw;
    right: 7.2vw;
    top: 16.5vh;
    border-radius: 30px;
    background-color: #b36225;
    color: #FFF9F9;
    border:none;
    cursor: pointer;
    font-family: 'lora';
    box-shadow: 2px 2px 5px rgb(99, 99, 99);
}
#datos_cliente:hover{
    background-color: #d3742c;
    right: 6.8vw;
}
.total_order{
    position: absolute;
    width: 48.4vw;
    height: 22vh;
    background: url("src/assets/images/fn_red.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: -0.5vh;
    justify-content: center;
}
#name_value_total{
    position: absolute;
    font-family: 'lora';
    color: #FFF9F9;
    font-size: 1.7em;
    font-weight: bold;
    left: 15vw;
    top: 4vh;
}
#temporal_total{
    position: absolute;
    font-family: 'lora';
    color: #FFF9F9;
    font-size: 1.7em;
    font-weight: bold;
    left: 28vw;
    top: 4vh;
}
#btn_envio_cocina{
    margin-top: 12vh;
    position: absolute;
    width: 24vw;
    height:8vh;
    margin-right: 0.5vw;
    background-color: #b36225;
    font-family: 'Lora', 'serif';
    color: #FFF9F9;
    font-size: 1.3em;
    cursor: pointer;
    left: 12vw;
    border: none;
    box-shadow: 2px 2px 5px rgb(68, 68, 68);
}
#btn_envio_cocina:hover{
    background-color: #d3742c;
    margin-top: 11.3vh;
}