<app-containt-waiter></app-containt-waiter>

<section class="tomarPedidos">

    <div class="contenedorPedidos">

             <div class="order">
                  <h1 id="titleOrder">Datos del pedido</h1>

                      
                            <label id="name1" for="name_user">Nombre del cliente</label> 
                            <input placeholder="Ingresa el nombre de cliente" pattern="[A-z]{7,15}" 
                            required id="name_user" type="text" name="name"
                           
                            >
                            <label for="num_mesa" id="num1">Mesa</label>
                            <input id="num_mesa" type="number" placeholder="N° mesa" name="Mesa"
                           >

                                   <button id="datos_cliente" type="submit">Grabar Datos</button>
                
                                

                                  <app-order-view></app-order-view>   
                                  
                                  <div class="total_order">
                                           <p id="name_value_total">Total a Pagar</p><p id="temporal_total">$ 0</p>
                                                <button id="btn_envio_cocina">Enviar a cocina</button>
                                  </div>
             </div>


                   <div class="main">
                            <h1 id="titleMain">Menu</h1>
                                      <app-view-main></app-view-main>
                            <ng-container *ngTemplateOutlet="mainInicio"></ng-container>
                   </div>

    </div>

</section>

        
<ng-template #mainInicio>
    <p id="textMain">Selecciona el menu</p>
    <img src="assets/images/init.png" id="imageMain" >
    <img src="assets/images/initName.png" id="nameMain">
</ng-template>

