.table{
    width: 29vw;
    height: 56.5vh;
    background-image:url("src/assets/images/table.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 5;
    position: absolute;
    border-radius: 15px;
    background-color: #FFF9F9;
}
.image_sand{
    border-radius: 15px;
    position: absolute;
    height:33vh;
    width: 27vw;
    left: 1vw;
    top: 2vh;
}
.nombre_producto{
    top:36vh;
    width: 29vw;
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.descripcion_producto{
    top:41vh;
    height: 7.2vh;
    width: 25vw;
    margin:0 1vw 0 2vw;
    position: absolute;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    background-color: #fef4eda1 ;
}
.precio_producto{
    top:50vh;
    width: 29vw;
    position: absolute;
    font-size: 1.4em;
    font-weight:bold;
    text-align: center;
}
.add_product{
    position: absolute;
    bottom: 11vh;
    left: 4.5vw;
    height:8vh;
    width: 20vw;
    background: #b36225;
    border: none;
    font-family: 'Lora', 'serif'; 
    color: #FFF9F9;
    border-radius: 5px;
    font-size: 1.2em;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    cursor: pointer;
}
.add_product:hover{
    bottom: 11.8vh;
    background-color: #9e7a44;
}