.contador_producto{
    font-family: 'Lora', 'serif'; 
    color: #3F1B00;
    background-color: #FFF9F9;
    height: 5.5vh;
    width: 8vw;
    margin-left: 1vw;
    display: flex;
    border-radius: 20px;
    border: 1px solid #3F1B00; 
    padding-left: 0.3vw;
}
#itemS{
    width:2.4vw;
    text-align: center;
    align-self: center;
    background-color: #FFF9F9;
    font-size: 1em;
    font-weight: bold;
    margin-top:0.6vh;
    border:none;
    cursor: pointer;
}
#itemC{
    width:2.4vw;
    text-align: center;
    align-self: center;
    background-color: #FFF9F9;
    font-size: 1em;
    font-weight: bold;
    border-left: 1px solid #3F1B00;
    border-right: 1px solid #3F1B00;
}
#itemR{
    width:2.4vw;
    border:none;
    text-align: center;
    align-self: center;
    background-color: #FFF9F9;
    font-size: 1em;
    font-weight: bold;
    border:none;
    cursor: pointer;
}
